<html>
    <head></head>
    <body>
        <h1>Blockchain Contents</h1>
        <p>Below is a sumary the current contents of the Blockchain.</p>
        <table border="1" cellpadding="2" cellspacing="0">
            <tr>
                <th>#</th>
                <th>Timestamp</th>
                <th>Content</th>
                <th>Detail</th>
            </tr>
            <?php foreach ( $chain as $item ): ?>
            <tr>
                <td> <?php echo $chain->key()+1; ?></td>
                <td> <?php echo date('Y-m-d h:m:s', $item->getTimestamp()); ?></td>
                <td> <?php echo $item->getContent(); ?></td>
                <td> <a href="<?php echo sprintf("/chain/%d", $chain->key()); ?>">more...</a></td>
            </tr>
            <?php endforeach; ?>
        </table>
        <p>Enter some text below and press 'Submit' to add another block</p>
        <form action="/api/chain" method="post">
            <input type="hidden" name="interactive" value="true">
            Content: <input type="text" name="content"><br>
            <input type="submit">
        </form>
</html>