<html>
    <head></head>
    <body>
    <h1>Blockchain Item Details</h1>
    <p>Below are the details of the Blockchain Item.</p>
    <p>
        <table border="1" cellpadding="2" cellspacing="0">
            <tr><th>Nonce</th><td> <?php echo $block->getNonce(); ?></td></tr>
            <tr><th>Timestamp</th><td> <?php echo date('Y-m-d h:m:s', $block->getTimestamp()); ?></td></tr>
            <tr><th>Previous Checksum</th><td> <?php echo $block->getPreviousChecksum(); ?></td></tr>
            <tr><th>Checksum</th><td> <?php echo $block->getChecksum(); ?></td></tr>
            <tr><th>Content</th><td> <?php echo $block->getContent(); ?></td></tr>
        </table>
    </p>
    <p><a href="<?php echo sprintf("/chain/"); ?>">Back...</a></p>
    </body>
</html>