<html>
    <head></head>
    <body>
        <h1>Welcome to the Blockchain Test</h1>
        <p>This is a simple web service for testing out and playing with Blockchain.</p>
        <p>To see the current Blockchain contents click <a href="/chain">here</a></p>
    </body>
</html>
